ul.file-tree, ul.file-tree ul {
  display: block;
  margin: 0;
  padding: 0;
}
ul.file-tree ul {
  padding-left: 1em;
}
ul.file-tree li {
  list-style-type: none;
}
ul.file-tree span {
  cursor: pointer;
  user-select: none;
}
ul.file-tree li > .dir::before {
  content: "\25B8";
  display: inline-block;
  margin-right: 6px;
}
ul.file-tree li.exp > .dir::before {
  transform: rotate(90deg);
}
ul.file-tree li:not(.exp) ul {
  display: none;
}
ul.file-tree .file:hover {
  text-decoration: underline;
}

#plot {
  margin: 15px 0 0 0;
  display: inline-block;
}
#plot > figcaption {
  text-align: center;
  font-family: sans-serif;
}

